.page {
    position: relative;
    display: flex;
    flex-direction: column;
}

/* Контейнер для кнопок в верхней панели */
.top-buttons {
    display: flex;
    gap: 5px; /* Расстояние между кнопками */
    justify-content: center;
    align-items: center;
}

/* Стили для каждой кнопки (ссылки) */
.icon-button {
    background-color: white; /* Белый фон */
    border: none; /* Убираем обводку */
    border-radius: 15%; /* Радиус 50% для круглой формы */
    padding: 15px; /* Отступы внутри кнопки */
    width: 100px; /* Ширина кнопки */
    height: 40px; /* Высота кнопки */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none; /* Запрещаем выделение текста */
    text-decoration: none; /* Убираем подчеркивание у ссылки */
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); /* Легкая тень */
}

    /* Эффект при наведении */
    .icon-button:hover {
        background-color: #f0f0f0; /* Цвет фона при наведении */
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Увеличиваем тень */
        
    }

    /* Иконки */
    .icon-button i {
        font-size: 20px; /* Размер иконки */
        color: #333; /* Цвет иконки (черный) */
    }

    .icon-button:focus {
        outline: none;
    }


main {
    flex: 1;
}

.top-row {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row ::deep a, .top-row ::deep .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

        .top-row ::deep a:hover, .top-row ::deep .btn-link:hover {
            text-decoration: underline;
        }

        .top-row ::deep a:first-child {
            overflow: hidden;
            text-overflow: ellipsis;
        }

@media (max-width: 640.98px) {
    .top-row {
        justify-content: space-between;
    }

        .top-row ::deep a, .top-row ::deep .btn-link {
            margin-left: 0;
        }
}

@media (min-width: 641px) {
    .page {
        flex-direction: row;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row {
        position: sticky;
        top: 0;
        z-index: 1;
    }

        .top-row.auth ::deep a:first-child {
            flex: 1;
            text-align: right;
            width: 0;
        }

    .top-row, article {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }
